<h1>NEW TODO FORM</h1>

<form action='/todos' method="POST">
    <input type='text' name='todo[todo]' placeholder='todo' required>
    <input type='text' name='todo[dueDate]' placeholder='dueDate' required>
    <button>SUBMIT</button>
</form>